#backgroundImage{
  height: 600px;
  background-image: url(images/ArtsitsAndSongs/guitarChord.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#backgroundImage h1{
  color: white;
  padding-top: 30px;
  font-size: 3rem;
  text-align: center;
}

#backgroundImage p{
  color: white;
  padding-top: 400px;
  font-size: 1.5rem;
  text-align: center;
}

#backgroundImage a{
  color: white;
  text-decoration: underline;
}

#selection{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 70px;
  width: 100%;
  padding: 0 70px;
}

.card{
  display: flex;
  flex-direction: column;
  
}

.card h2{
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}
.card a img{
  display: block;
  border: none;
}
.card a{
  display: inline-block;
  border: none;
  border-radius: 30px;
  padding: 0;
  margin: 0;
}
.selectCard{
  display: flex;
  justify-content: center;
  min-width: 200px;
  width: 100%;
  transition: all 0.3s;
  border-radius: 30px;
}

.selectCard:hover{
  box-shadow: 6px 3px 3px rgba(0, 0, 0, 0.3);
}

@media (max-width:1000px) {
  #selection{
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 0;
  } 
  .card h2{
    margin-top: 15px;
    margin-bottom: 5px;
  }
  .card{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }
  
  #backgroundImage{
    height: 240px;
  }
  #backgroundImage h1{
    padding-top: 20px;
    font-size: 1.5rem;
    text-align: center;
  }
  #backgroundImage p{
    color: white;
    padding: 90px 80px 0 80px;
    font-size: 1rem;
    text-align: center;
  }
}