#backgroundImage{
  height: 600px;
  background-image: url(images/ArtsitsAndSongs/guitarChord.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#backgroundImage h1{
  color: white;
  padding-top: 30px;
  font-size: 3rem;
  text-align: center;
}

#backgroundImage p{
  color: white;
  padding-top: 400px;
  font-size: 1.5rem;
  text-align: center;
}

#backgroundImage a{
  color: white;
  text-decoration: underline;
}

#selection{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  padding: 0 30px;
}

.card{
  display: flex;
  flex-direction: column;
}

.card h2{
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.selectCard{
  max-width: 400px;
  min-width: 200px;
  
  transition: all 0.3s;
  border-radius: 30px;
}

.selectCard:hover{
  box-shadow: 6px 3px 3px rgba(0, 0, 0, 0.3);
}

@media (max-width:768px) {
  #selection{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: center;
    padding: 0;
  } 
  .card h2{
    margin-top: 15px;
    margin-bottom: 5px;
  }
  .selectCard{
    width: 75%;
    margin-left: auto;                  
    margin-right: auto;
    margin-top: 10px;
  }
  #backgroundImage{
    height: 200px;
  }
  #backgroundImage h1{
    padding-top: 20px;
    font-size: 1.5rem;
    text-align: center;
  }
  #backgroundImage p{
    color: white;
    padding: 70px 100px 0 100px;
    font-size: 1rem;
    text-align: center;
  }
}