*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body{
  background-color: white;
  height: 900px;
  display: flex;
  flex-direction: column;
}

.content{
  flex: 1;
}
li a{
  color:black;
  text-decoration: none;
}

nav{
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(11, 98, 133);
  width: 100%;
  height: 65px;
}

.logo{
  padding: 6px 6px 6px 10px ;
  height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
  
}

.logo-link{
  width: 72px;
  margin-right: auto;
}

.links-container{
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

nav .links-container a{
  height: 100%;
  padding: 0 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  transition: all 0.3s;
  text-decoration: none;
  color: white;
}

nav a:hover{
  color:rgb(160, 246, 255);
}

#sidebar-active{
  display: none;
}

.open-sidebar-button, .close-sidebar-button{
  display: none;
}

#search-bar {
  margin: 0 10px 0 20px;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 3px;
}
#message{
  padding-top: 10px;
}

.alignCenter{
  text-align: center;
}
.alignCenter ul{
  list-style-type: none;
}

#Artists h1,#Songs h1,#Favorites h1{
  margin: 7px;
}

#List{
  border-bottom: 1px solid #ccc;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 8px rgb(11, 98, 133,0.1);
  border-radius: 8px;
  margin: 5px 15px;
  transition: all 0.5s;
}

#List:hover{
  box-shadow: 2px 2px 0px rgb(11, 98, 133,0.5); 
}

#song-artist{
  color: black;
  text-decoration: none;
}
#song-artist:hover{
  text-decoration: underline;
}

#song-image{
  height: auto;
  max-width: 500px;
}

#song-detail{
  text-align: center;
  width: 100%;
}

#return-button,#fav-button{
  min-width: 250px;
  background-color: #0b6285;
  border: none;
  color: white;
  padding: 7px;
  font-weight: bold;
  border-radius: 3px;
  transition: all 0.3s;
}
#return-button:hover,#fav-button:hover{
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
}

#artist-name{
  padding: 5px 0 0 0;
}

#artist-image{
  height: 200px;
  width: 200px;
  border-radius: 10px;
  display: inline-block;
}

.photoAndBio p{
  line-height: 25px;
  font-size: 1rem;
  padding: 0 20%;
  text-align: justify;
}
.Notice{
  height: 100%;
  width: 500px;
  margin: 0 auto ;
  padding: 20px 20px;
  text-align: justify;
  font-size: 1.2rem;
  
}
.Notice h1{
  font-size: 2.6rem;
}
.Notice ul{
  margin: 30px 0 20px 20px;
}
.Thanks p{
  margin: 15px 0;
}
.Thanks a{
  color: black;
  font-weight: bold;
}

footer{
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #0b6285;
  color: white;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding: 10px 15px;
}
footer a{
  color: white;
  text-align: center;
  
}

@media (max-width:768px) {
  .links-container{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 999;
    width: 60%;

    background-color: #0b6285;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.253);
    transition: 0.5s ease-out;
  }

  nav .links-container a{
    /*box-sizing: border-box;*/
    height: 70px;
    width: 100%;
    justify-content: flex-start;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 6px 4px 18px rgba(255, 255, 255, 0.1);
  }

  .open-sidebar-button, .close-sidebar-button{
    fill: white;
    padding: 20px;
    display: block;
  }

  .close-sidebar-button{
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 6px 4px 18px rgba(255, 255, 255, 0.1);
  }

  #sidebar-active:checked ~ .links-container{
    right: 0;
  }

  #sidebar-active:checked ~ #overlay{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }

  #song-image{
    height: auto;
    max-width: 100%;
  }

  #return-button,#fav-button{
    flex:1;
    min-width: 100px;
  }
  #twobutton{
    display: flex;
    gap:5px;
    max-width: 100%;
    padding: 0 5px;
  }

  .photoAndBio p{
    line-height: 15px;
    font-size: .7rem;
    padding: 0 15px;
    text-align: justify;
    margin: 10px 0;
  }
  .Notice{
    width: 100%;
    line-height: 30px;
    padding: 10px 15px;
    text-align: justify;
    font-size: 1rem;
  }
  .Notice h1{
    font-size: 2rem;
  }
  .Notice ul{
    margin-right: 0;
  }
  .Thanks p{
    margin: 10px 0;
  }
  footer{
    font-size: 0.7rem;
    margin-top: 10px;
  }
}

@media (prefers-color-scheme: dark){
  body{
    background-color: #1a2023;
    color: #e1e1e1;
  }
  nav{
    background-color: #063a4e;
  }
  .links-container{
    background-color: #063a4e;
  }

  #song-artist{
    color: white;
  }
  
  #song-image{
    filter: invert();
    z-index: 10;
  }
  
  #search-bar{
    background-color: #165c78;
    border: none;
    border-radius: 3px;
    color: #e1e1e1;
  }
  ::placeholder{
    color: #e1e1e1;
  }
  li a{
    color: #e1e1e1;
  }
  
  #List{
    background-color: #2f2f2f;
    border-bottom: 1px solid #676767;
    box-shadow: 2px 2px 0 rgba(255, 255, 255, 0.1);
  }
  .Thanks a{
    color: white;
    font-weight: bold;
  }
 
  footer{
    background-color: #063a4e;
  }
}


/*nav ul {
  list-style-type: none;
}

nav ul li{
  display: inline-block;
  padding: 0px 20px;
  font-weight: bold;
  
} 

nav ul li a{
  text-decoration: none;
  color:black;
  transition: all 0.3s;
}

nav ul li a:hover{
  color:#008181;
}*/

